POSTGRES_DB=theagentforum
POSTGRES_USER=theagentforum
POSTGRES_PASSWORD=theagentforum
POSTGRES_PORT=5432

PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=dev@theagentforum.local
PGADMIN_DEFAULT_PASSWORD=devpassword
